$main-font-family: "Lato", sans-serif;
$font-family-red-hat: "Red Hat Display", sans-serif;

$main-font-size: 16px;
$main-color: #000;
$color-gray-500: #7B7B7B;
$color-gray-700: #565656;
$button-bg: #565656;
$icon: #565656;

$footer-bg: #F4F4F4